.kuvat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}
.backgroundcolor {
    background-color: bisque;
}
#cat_text{
    background-color: rgb(252, 252, 252);
}
#carousel
{
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
#homecat {
    margin-top: 2%;
    display: block;
    float: left;
    width: 50%;
}
#background-div {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.cat_text{
    text-align: center;
}
.etusivu{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: aliceblue;
}
.mainecoon{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: aliceblue;  
}
.textbox{
    background-color: rgb(243, 242, 238);
    width: 50%;
    float: right;
    margin-top: 5%;

}
#homecatt {
  width: 50%;
}
.alaosa{
    background-color: aliceblue;
    margin-bottom: auto;
    text-align: center;
    font-size: small;
}
